<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Binordance</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Binordance</h1>
    <a href="/">accueil</a>
    <img src="btg.jpg" alt="btg">
    <ul>
        <li>
            // copier coller le fastOrder et boom un js front le transforme en prix qte
        </li>
        <li>
            // bouton valider qui apparait
        </li>
    </ul>
    <form action="/check-text-orders" method="POST" id="usrform">
        <div>
            <label for="symbol">symbol:</label>
            <input 
                type="text" 
                name="symbol" 
                required
                minlength="6" 
                maxlength="7"
                placeholder="exemple XRPBTC" 
                value="XRPBTC"
            />
            <span class="validity"></span>
            <select name="type">
                <option value="BUY" selected>BUY</option>
                <option value="SELL">SELL</option> 
            </select>
        </div>
        <textarea name="orders" form="usrform" cols="30" rows="10">prix quantité

exemple :

0.0000540 50
0.0000600 30.5</textarea>
        <div>
            <input type="submit" value="Vérifier">
        </div>
    </form>
    <% if(show){ %>
        <ul>
            <% orders.forEach((order, index) => { %>
                <li>ordre numéro <%= index + 1 %> <%= order.side %> <%= order.symbol %> au prix de <%= order.price %> et avec une quantité de <%= order.quantity %></li>
            <% }); %>
        </ul>
        <div>   
            <form action="/addInBinance" method="POST">
                <label for="symbol">password:</label><input name="password" type="password">
                <input type="submit" value="ajouter ces ordres dans Binance">
            </form>
        </div>
    <% } %>
    <script type="text/javascript" src="front.js"></script>
</body>
</html>
